@model VetOffice.Models.AppointmentDetail

@{
    ViewBag.Title = "Delete";
}

<div class="container">
    <h1 class="tableHeader">Delete Appointment</h1>
    <br />
    <br />
</div>

<div>
    <dl class="form-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Pet.Customer.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pet.Customer.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pet.PetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pet.PetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextAppt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextAppt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApptTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApptTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReasonForVisit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReasonForVisit)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-control-lg">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-info btn-lg" />
                <a class="btn btn-info btn-lg" href="@Url.Action("Index","Appointment")">Back To List</a>
            </div>
        </div>
    }
</div>
