@model VetOffice.Models.AppointmentDetail

@{
    ViewBag.Title = "Delete";
}

<div class="container">
    <h1 class="tableHeader">Delete Appointment</h1>
    <br />
    <br />
</div>

<div>
    <div class="form-horizontal">
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextAppt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextAppt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApptTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApptTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReasonForVisit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReasonForVisit)
        </dd>


    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
