@model IEnumerable<VetOffice.Models.AppointmentListItem>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h1 class="tableHeader">Appointments</h1>
    <br />
    <a class="btn btn-info btn-lg" href="@Url.Action("Create","Appointment")">Schedule Appointment</a>
    <br />
</div>

<table class="table table-hover">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextAppt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApptTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReasonForVisit)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table table-secondary">
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NextAppt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApptTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReasonForVisit)
                </td>
                <td>
                    <button class="btn btn-info btn-lg"> @Html.ActionLink("Edit", "Edit", "Appointment", new { id = item.AppointmentId }, null) </button>
                    <button class="btn btn-info btn-lg"> @Html.ActionLink("Delete", "Delete", "Appointment", new { id = item.AppointmentId }, null)</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="clients">
    <p>We <span class="glyphicon"> &hearts;</span> our Cute Clients ...</p>
</div>
