@model IEnumerable<VetOffice.Models.AppointmentListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextAppt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApptTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReasonForVisit)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NextAppt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApptTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReasonForVisit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.AppointmentId }) |
            @Html.ActionLink("Details", "Details", new { id = item.AppointmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AppointmentId })
        </td>
    </tr>
}

</table>
