@model VetOffice.WebMVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="backgroundImageForLogin">
    <div class="formContainer" id="loginFormContainer" style="height:500px;">
        <div class="container" id="loginHeaderContainer">
            <p class="tableHeader" id="loginHeaderFont" style="display: flex; justify-content:flex-start;">Register</p>
            <br />
            <br />
        </div>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <p style="font-family: Questrial; padding-left:5%;">Email</p>
                <div class="col-md-12" style="padding-left: 15%;">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <p style="font-family: Questrial; padding-left:5%;">Password</p>
                <div class="col-md-12" style="padding-left: 15%;">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <p style="font-family: Questrial; padding-left:5%;">Confirm Password</p>
                <div class="col-md-12" style="padding-left: 15%;">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="form-group-lg">
                <div class="col-md-offset-2 col-md-10" style="padding-left:15%">
                    <input type="submit" class="btn btn-info btn-lg" style="padding-left:10%; padding-right:10%;" value="Register" />
                </div>
            </div>
        }
    </div>
</div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
