@model VetOffice.Models.CustomerDetail

@{
    ViewBag.Title = "Delete";
}

<div class="backgroundImageForDeleteForms">
    <div class="formContainer" style="height:500px;">
        <div class="container" style="padding-left:0; height:20%;">
            <p class="tableHeader" style="display: flex; justify-content:flex-start;">Delete Appointment</p>
            <br />
            <br />
        </div>
        <dl class="form-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StreetAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-control-lg">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Delete" class="btn btn-info btn-lg" />
                    <a class="btn btn-info btn-lg" href="@Url.Action("Index","Customer")">Back To List</a>
                </div>
            </div>
        }
    </div>
</div>