@model VetOffice.Models.CustomerEdit

@{
    ViewBag.Title = "Edit";
}

<div class="customerEditImage">
    <div class="formContainer" style="height:725px;">
        <div class="container" style="padding-left:0; height:10%;">
            <p class="tableHeader" style="display: flex; justify-content:flex-start;">Edit Appointment</p>
            <br />
            <br />
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal" id="editTwo">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.CustomerId)

                <div class="form-group">
                    <p>Customer Name</p>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p>Street Address</p>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.StreetAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.StreetAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p>Apt #</p>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Apt, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Apt, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p>City</p>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p>State</p>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p>Zip Code</p>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p>Phone</p>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p>Wants Text Updates</p>
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.CanText)
                            @Html.ValidationMessageFor(model => model.CanText, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <p>Email</p>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group-lg">
                    <div class="col-md-offset-2 col-md-3" style="padding-top: 2%">
                        <input type="submit" value="Save" class="btn btn-info btn-lg" />
                    </div>
                    <div class="col-md-offset-2 col-md-6" style="padding-top: 2%; padding-left: 0%; margin: 0;">
                        <a class="btn btn-info btn-lg" style="padding-left:10%; padding-right:10%;" href="/Customer">Back To List</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
