@model IEnumerable<VetOffice.Models.CustomerListItem>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h1 class="tableHeader">Our Customers</h1>
    <br />
    <a class="btn btn-info btn-lg" href="@Url.Action("Create","Customer")">Add a New Customer</a>
    <br />
    <br />
    <br />
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="table table-secondary">
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <button class="btn btn-info btn-lg"> @Html.ActionLink("Edit", "Edit", "Customer", new { id = item.CustomerId }, null) </button>
                <button class="btn btn-info btn-lg"> @Html.ActionLink("Delete", "Delete", "Customer", new { id = item.CustomerId }, null)</button>
            </td>
        </tr>
        }
    </tbody>
</table>
<br />
<br />
<div class="clients">
    <p>We <span class="glyphicon"> &hearts;</span> our Cute Clients ...</p>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card mb-3" style="width: 280px;">
            <h3 class="card-header">Henry</h3>
            <img style="height: 200px; width: 100%; display: block;" src="~/Content/assets/Clients/zhenhao-liu-778651-unsplash.jpg" alt="Card image">
            <div class="card-body">
                <p class="card-text">Henry is one of our most distinguished clients. He is so well-behaved and looks quite 
                    dapper in his new white shirt!
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-3" style="width: 280px;">
            <h3 class="card-header">Sadie & Sami</h3>
            <img style="height: 200px; width: 100%; display: block;" src="~/Content/assets/Clients/raul-varzar-750436-unsplash.jpg" alt="Card image">
            <div class="card-body">
                <p class="card-text">Sadie and Sami are two of the cutest sisters we've ever seen!  Ever playful, they are a lot of fun
                    to spend the afternoon with!
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-3" style="width: 280px;">
            <h3 class="card-header">Jamie</h3>
            <img style="height: 200px; width: 100%; display: block;" src="~/Content/assets/Clients/jamie-street-562280-unsplash.jpg" alt="Card image">
            <div class="card-body">
                <p class="card-text">Jamie is such a good dog! He loves spending time outdoors...always thinking
                    he's going to catch that elusive robin!
                </p>
            </div>
        </div>
    </div>
</div>

