@model IEnumerable<VetOffice.Models.CustomerListItem>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h1 class="tableHeader">Customers</h1>
    <br />
    <a class="btn btn-info btn-lg" href="@Url.Action("Create","Customer")">Add a New Custmer</a>
    <br />
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="table table-secondary">
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <button class="btn btn-info btn-lg"> @Html.ActionLink("Edit", "Edit", "Customer", new { id = item.CustomerId }, null) </button>
                <button class="btn btn-info btn-lg"> @Html.ActionLink("Delete", "Delete", "Customer", new { id = item.CustomerId }, null)</button>
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="clients">
    <p>We <span class="glyphicon"> &hearts;</span> our Cute Clients ...</p>
</div>
