@model IEnumerable<VetOffice.Models.CustomerListItem>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h1 class="tableHeader">Our Customers</h1>
    <br />
    <a class="btn btn-info btn-lg" href="@Url.Action("Create","Customer")">Add Customer</a>
    <br />
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr class="table table-secondary">
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CustomerId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId })
            </td>
        </tr>
    }
</table>

<div class="clients">
    <p>We <span class="glyphicon"> &hearts;</span> our Cute Clients ...</p>
</div>