@model VetOffice.Models.PetCreate

@{
    ViewBag.Title = "Create";
}

<div class="backgroundImageForDeleteForms">
    <div class="formContainer" style="height:550px;">
        <div class="container" style="padding-left:0; height:15%;">
            <p class="tableHeader" style="display: flex; justify-content:flex-start;">New Pet</p>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal" style="padding:0;">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group" style="font-size:1.2em;">
                    <p>Customer's Name</p>
                    <div class="col-md-10">
                        @Html.DropDownList("CustomerId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="font-size:1.2em;">
                    <p>Pet's Name</p>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PetName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PetName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="font-size:1.2em;">
                    <p>Type of Pet</p>
                    <div class="col-md-10">
                       @Html.EnumDropDownListFor(model => model.TypeOfPet, "Please select type of pet.", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group" style="font-size:1.2em;">
                    <p>Breed</p>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Breed, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Breed, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="font-size:1.2em;">
                    <p>Age of Pet</p>
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model.AgeOfPet, "Please select age of pet.", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-control-lg">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add" class="btn btn-info btn-lg" />
                        <a class="btn btn-info btn-lg" href="@Url.Action("Index","Pet")">Back To List</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
