@model VetOffice.Models.PetDetail

@{
    ViewBag.Title = "Delete";
}

<div class="backgroundImageForDeleteForms">
    <div class="formContainer" style="height:500px;">
        <div class="container" style="padding-left:0; height:20%;">
            <p class="tableHeader" style="display: flex; justify-content:flex-start;">Delete Pet</p>
        </div>

        <dl class="form-horizontal" id="lessPadding">

            <dt>
                @Html.DisplayNameFor(model => model.Customer.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PetName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PetName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TypeOfPet)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TypeOfPet)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Breed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Breed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AgeOfPet)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AgeOfPet)
            </dd>
        </dl>
        <br />
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-control-lg">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Delete" class="btn btn-info btn-lg" />
                    <a class="btn btn-info btn-lg" href="@Url.Action("Index","Pet")">Back To List</a>
                </div>
            </div>
        }
    </div>
</div>