@model IEnumerable<VetOffice.Models.InfoListItem>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h1 class="tableHeader">Our Customers & Pets</h1>
    <br />
    <a class="btn btn-info btn-lg" href="@Url.Action("Create","Pet")">Add Pet</a>
    <br />
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th scope="col">
                Pet Name
            </th>
            <th scope="col">
                Pet Type
            </th>
            <th scope="col">
                Pet Breed
            </th>
            <th scope="col">
                Pet Age
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
           <tr class="table table-secondary">
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @foreach (var pet in item.Pets)
                    {
                        <div> @Html.DisplayFor(modelItem => pet.PetName)</div>
                        <br />
                    }
                </td>
                <td>
                    @foreach (var pet in item.Pets)
                    {
                        <div> @Html.DisplayFor(modelItem => pet.TypeOfPet)</div>
                        <br />
                    }
                </td>
                <td>
                    @foreach (var pet in item.Pets)
                    {
                        <div> @Html.DisplayFor(modelItem => pet.Breed)</div>
                        <br />
                    }
                </td>
                <td>
                    @foreach (var pet in item.Pets)
                    {
                        <div> @Html.DisplayFor(modelItem => pet.AgeOfPet)</div>
                        <br />
                    }
                </td>
                <td>
                    @foreach (var pet in item.Pets)
                    {
                        <button class="btn btn-info btn-lg"> @Html.ActionLink("Edit", "Edit", "Pet", new {id = pet.PetId }, null)</button>
                        <button class="btn btn-info btn-lg"> @Html.ActionLink("Delete", "Delete", "Pet", new { id = pet.PetId }, null)</button>
                        <br /><br />
                    }
                </td>
            </tr>
          }
    </tbody>
</table>

<div class="clients">
    <p>We <span class="glyphicon"> &hearts;</span> our Cute Clients ...</p>
</div>





