@model IEnumerable<VetOffice.Models.InfoListItem>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h1 class="tableHeader">Our Customers & Pets</h1>
    <br />
    <a class="btn btn-info btn-lg" href="@Url.Action("Create","Pet")">Add Pet</a>
    <br />
    <br />
    <br />
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th scope="col">
                Pet Name
            </th>
            <th scope="col">
                Pet Type
            </th>
            <th scope="col">
                Pet Breed
            </th>
            <th scope="col">
                Pet Age
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table table-secondary">
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @foreach (var pet in item.Pets)
                    {
                        <div> @Html.DisplayFor(modelItem => pet.PetName)</div>
                        <br />
                    }
                </td>
                <td>
                    @foreach (var pet in item.Pets)
                    {
                        <div> @Html.DisplayFor(modelItem => pet.TypeOfPet)</div>
                        <br />
                    }
                </td>
                <td>
                    @foreach (var pet in item.Pets)
                    {
                        <div> @Html.DisplayFor(modelItem => pet.Breed)</div>
                        <br />
                    }
                </td>
                <td>
                    @foreach (var pet in item.Pets)
                    {
                        <div> @Html.DisplayFor(modelItem => pet.AgeOfPet)</div>
                        <br />
                    }
                </td>
                <td>
                    @foreach (var pet in item.Pets)
                    {
                        <button class="btn btn-info btn-lg"> @Html.ActionLink("Edit", "Edit", "Pet", new { id = pet.PetId }, null)</button>
                        <button class="btn btn-info btn-lg"> @Html.ActionLink("Delete", "Delete", "Pet", new { id = pet.PetId }, null)</button>
                        <br /><br />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<div class="clients">
    <p>We <span class="glyphicon"> &hearts;</span> our Cute Clients ...</p>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card mb-3" style="width: 280px;">
            <h3 class="card-header">Tiger</h3>
            <img style="height: 200px; width: 100%; display: block;" src="~/Content/assets/Clients/kitten-peaking-through-greenery_4460x4460.jpg" alt="Card image">
            <div class="card-body">
                <p class="card-text">Tiger, you are definitely a little tiger! Ready to pounce, the world (and your siblings) better watch out!</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-3" style="width: 280px;">
            <h3 class="card-header">Milo</h3>
            <img style="height: 200px; width: 100%; display: block;" src="~/Content/assets/Clients/dog-1191676_1920.jpg" alt="Card image">
            <div class="card-body">
                <p class="card-text">Oh Milo, what can we say?! We hope you don't have to spend too much time in the cone of shame!</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-3" style="width: 280px;">
            <h3 class="card-header">Naomi</h3>
            <img style="height: 200px; width: 100%; display: block;" src="~/Content/assets/Clients/kate-stone-matheson-1141289-unsplash.jpg" alt="Card image">
            <div class="card-body">
                <p class="card-text">What a sweet cuddler Naomi is! With such a sweet disposition, we love when Naomi pays us a visit!</p>
            </div>
        </div>
    </div>
</div>






