@model IEnumerable<VetOffice.Models.PetListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfPet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgeOfPet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReasonForVisit)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfPet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgeOfPet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReasonForVisit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PetId }) |
            @Html.ActionLink("Details", "Details", new { id = item.PetId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PetId })
        </td>
    </tr>
}

</table>
