@model IEnumerable<VetOffice.Models.InfoListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th scope="col">
            Pet Name
        </th>
        <th scope="col">
            Pet Type
        </th>
        <th scope="col">
            Pet Breed
        </th>
        <th scope="col">
            Pet Age
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr class="table-dark">
            <th scope="row">Dark</th>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @foreach (var pet in item.Pets)
                {
                    <div> @Html.DisplayFor(modelItem => pet.PetName)</div>
                }
            </td>
            <td>
                @foreach (var pet in item.Pets)
                {
                    <div> @Html.DisplayFor(modelItem => pet.TypeOfPet)</div>
                }
            </td>
            <td>
                @foreach (var pet in item.Pets)
                {
                    <div> @Html.DisplayFor(modelItem => pet.Breed)</div>
                }
            </td>
            <td>
                @foreach (var pet in item.Pets)
                {
                    <div> @Html.DisplayFor(modelItem => pet.AgeOfPet)</div>
                }
            </td>
            <td>
                @foreach (var pet in item.Pets)
                {
                    <div>
                        @Html.ActionLink("Edit", "Edit", new { id = pet.PetId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = pet.PetId })
                    </div>
                }
            </td>
        </tr>
    }

</table>



    
            
 